@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body > div {
  height: 100%;
  background-color: #5ca5a5;
  display: flex;
  justify-content: center;
}
