@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body > div:not(#__next-build-watcher) {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-image: url("/img/bg-header-mobile.svg");
  background-color: #5ca5a5;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 24px;
}

@media screen and (min-width: 1024px) {
  body > div:not(#__next-build-watcher) {
    background-image: url("/img/bg-header-desktop.svg");
  }
}
