@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body > div {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  background-image: url("/img/bg-header-mobile.svg");
  background-repeat: no-repeat;
  padding: 24px;
}
