.container {
  @apply h-full w-full bg-[url("/img/bg-header-desktop.svg")] bg-no-repeat font-spartan;

  .header {
    @apply bg-white rounded-[5px] flex flex-col overflow-hidden p-[20px] pr-[24px];
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

    .input {
      input {
        border: none transparent;
        outline: none;
      }

      .clear {
        @apply text-grey font-bold leading-[24px] text-[13px];
      }
    }

    .tags {
      @apply flex flex-wrap gap-4;
    }
  }

  .header.active {
    @apply gap-[15px];
  }
}
