.header {
  @apply w-full font-spartan mt-[100px];

  .searchBar {
    @apply bg-white rounded-[5px] flex flex-col overflow-hidden p-[20px] pr-[24px];
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

    .input {
      @apply flex justify-between;

      input {
        @apply w-full;
        border: none transparent;
        outline: none;
      }

      .clear {
        @apply text-grey font-bold leading-[24px] text-[13px] hover:text-green hover:underline;
      }
    }

    .tags {
      @apply flex flex-wrap gap-4;
    }
  }

  .searchBar.active {
    @apply gap-[20px];
  }
}

.main {
  @apply flex flex-col gap-[40px] mt-[56px] bg-white lg:p-[20px];
}
